.container {
    max-width: 1372px;
    margin: 0 auto;
    padding: 0 20px;
    z-index: 5; 
    // @include desktop {
    //     padding: 0 40px;
    // }
    @include laptop {
        padding: 0 20px;
    }
    &_small {
        max-width: 1112px;     
        padding: 0 10px;
        // @include desktop {
        //     padding: 0 100px;
        // }
        // @include laptop {
        //     padding: 0 30px;
        // }
    }

}